<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Balls</string>
		<string>Kev1n</string>
		<string>Soaz</string>
		<string>Mimer</string>
		<string>Wickd</string>
		<string>Quas</string>
		<string>Dyrus</string>
		<string>Fredy122</string>
		<string>YoungBuck</string>
		<string>Seraph</string>
		<string>Zion Spartan</string>
		<string>Innox</string>
		<string>Xaxus</string>
		<string>Westrice</string>
		<string>Kubon</string>
		<string>Ackerman</string>
	</array>
	<array>
		<string>Cyanide</string>
		<string>Amazing</string>
		<string>Shook</string>
		<string>Impaler</string>
		<string>NoName</string>
		<string>IWillDominate</string>
		<string>Brokenshard</string>
		<string>Diamond</string>
		<string>Meteos</string>
		<string>Svenskeren</string>
		<string>Jankos</string>
		<string>Dexter</string>
		<string>Kez</string>
		<string>Crumbzz</string>
		<string>Helios</string>
		<string>Kottenx</string>
	</array>
	<array>
		<string>Kerp</string>
		<string>Froggen</string>
		<string>Selfie</string>
		<string>XiaoWeiXiao</string>
		<string>xPeke</string>
		<string>Jesiz</string>
		<string>Voyboy</string>
		<string>Bjergsen</string>
		<string>Link</string>
		<string>Hai</string>
		<string>Shiphtur</string>
		<string>SorenXD</string>
		<string>Overpow</string>
		<string>Pobelter</string>
		<string>NiQ</string>
		<string>Pr0lly</string>
	</array>
	<array>
		<string>Rekkles</string>
		<string>Creaton</string>
		<string>Tabzz</string>
		<string>Vasilii</string>
		<string>Doublelift</string>
		<string>Wildturtle</string>
		<string>Candypanda</string>
		<string>Mr Rallez</string>
		<string>Woolite</string>
		<string>Celaver</string>
		<string>Sneaky</string>
		<string>Cop</string>
		<string>Altec</string>
		<string>RobertxLee</string>
		<string>Imaqtpie</string>
		<string>Genja</string>
	</array>
	<array>
		<string>Yellowstar</string>
		<string>Nyph</string>
		<string>Jree</string>
		<string>Mor</string>
		<string>Nrated</string>
		<string>kaSing</string>
		<string>Lustboy</string>
		<string>Aphromoo</string>
		<string>Xpecial</string>
		<string>Lemonnation</string>
		<string>Vander</string>
		<string>Kiwikid</string>
		<string>Unlimited</string>
		<string>Krepo</string>
		<string>EDward</string>
		<string>Bubbadub</string>
	</array>
	<array>
		<string>Alliance</string>
		<string>Fnatic</string>
		<string>Gambit</string>
		<string>SK Gaming</string>
		<string>Millenium</string>
		<string>CW Wolves</string>
		<string>SuperHotCrew</string>
		<string>Roccat</string>
		<string>Cloud 9</string>
		<string>Team Solo Mid</string>
		<string>CLG</string>
		<string>Dignitas</string>
		<string>LMQ</string>
		<string>Curse</string>
		<string>Evil Geniuses</string>
		<string>Complexity</string>
	</array>
</array>
</plist>
